<%= render 'navigation' %>

<div class="container">
	<div class="row">
		<p></p>
		<h1>Cat Table</h1>
		<table class="table table-bordered table-responsive table-striped text-center">
			<thead>
				<tr>
					<th>Name</th>
					<th>Breed</th>
					<th>Age</th>
					<th>Opsi</th>
				</tr>
			</thead>
			<tbody>
				<% @cats.each do |cat| %>
				<tr>
					<td><%= cat.name %></td>
					<td><%= cat.breed %></td>
					<td><%= cat.age %></td>
					<td>
						<%= link_to 'Detail', cat_path(cat), class:'btn btn-info' %>
						<%= link_to 'Edit', edit_cat_path(cat), class:'btn btn-primary' %>
						<%= link_to 'Delete', cat_path(cat), class:'btn btn-danger', method: :delete, data: {confirm: 'Do you want to delete this data?'} %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
