<!DOCTYPE html>
<html>
  <head>
    <title>CatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      .alert-success {
        color:green;
      }

      .alert-warning {
        color:red;
      }
    </style>
  </head>
  <body>
    <% if flash[:notice] %>
    <div class="container-fluid">
    <p class="alert alert-success"><%= flash[:notice] %></p>
    </div>
    <% end %>

     <%= yield %>

    <% if alert %>
    <div class="container-fluid">
    <p class="alert alert-warning"><%= alert %></p>
    </div>
    <% end %>
  </body>
</html>
